body {
    // background: url("../images/c6bank-wallpapers/hero-bg-xs.webp") no-repeat;
    // background-size: contain;
    width: 100%;
    // height: calc(100vh - 100px - 100px);
    display: flex;
    height: 3000px;

    &>header {
        position: fixed;
        top: 0;
        z-index: 100;
        height: 83px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFF;
        transition-duration: .5s;
        padding: 0 2% 0 6%;

        &>nav {
            width: 60%;

            >ul {
                margin: 0;
                display: flex;
                justify-content: space-between;

                >li {
                    list-style-type: none;
                    font-size: .8em;

                    >a {
                        text-decoration: none;
                        color: #222;
                        font-weight: bold;
                    }
                }
            }
        }

        &.footer-link-a {
            >nav>ul>li>a {
                color: #FFFF;
            }
        }
    }
}

button.disabled {
    background: none;
    border: solid .5px hsla(0, 0%, 26%, 0.5);
}

button.disabled:hover {
    transition: .2s;
    background: hsla(0, 0%, 26%, 0.03);
}

button {
    width: 53%;
    height: 40px;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(150deg, #FFE45C 0%, #FFC900 100%);
    font-size: .8em;
    color: #333;
    border-radius: 20px;
    transition: .3s;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(150deg, #FFE978 0%, #FBD033 100%);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.244);
}
.open-account {
    width: 23%;
    color: #676665d0;
    height: 46%;
    margin-left: 11%;
}

.open-account:hover{
    box-shadow: none;
}


.jss6 {
    fill: hsla(0, 0%, 14%, 1);
}

.jss12 {
    width: auto;
    height: 21px;
    margin-top: 7.5px;
}

.full-banner {
    width: 100%;
    height: 100vh;
    background: url("../images/c6bank-wallpapers/hero-bg-xs.webp") no-repeat;
    background-size: cover;
    background-position: center center;

    .destak {
        width: 46%;
        height: 60vh;
        position: absolute;
        bottom: 7%;
        left: 6%;

        >h1 {
            font-size: 3.5em;
            line-height: 1.2em;
            font-weight: 300;
            margin-bottom: 5%;
            margin-top: 2%;
        }

        h2 {
            width: 100%;
            font-weight: 300;
            margin-bottom: 5%;
            font-size: 1.3em;
        }

        h3 {
            width: 79%;
            background: rgba(36, 36, 36, 0.35);
            color: #FFF;
            font-weight: normal;
            font-size: .8em;
            line-height: 2.5em;
            border-radius: 25px;
            padding: .5% 2%;

            span {
                //div = elemento de bloco
                //span = elemento de linha

                // "Agora vc é elemento de bloco"
                background: #006D8F;
                border-radius: 25px;
                width: fit-content;
                font-weight: 550;
                display: inline-block;
                padding: .5% 2%;
                line-height: 1.6;
            }
        }
    }
}

.top-site{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

// breakpoints: números que usamos para definir em que momento o CSS muda.

// smartphone - nenhuma...
// tablet - 768px
// desktop - 992px - 1200 ou 1280px
// desktop grande - 1024px - 1600px - 1920px

// 768 e (992 ou 1280) são os mais usados

@media(min-width: 992px) {
    .full-banner {
        background: url("../images/c6bank-wallpapers/hero-bg-desktop.webp") no-repeat;
        background-size: cover;
        background-position-y: center;
    }
}