body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}

h1, h2, h3{
    margin: 0;
}

* {
    box-sizing: border-box;
}